.event {
    padding-top: 100px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.small {
    display: flex;
    justify-content: center;
    gap: 15px;

    .card {
        border: none;
        padding: 0 0;

        .btn {
            padding: 0;
            margin: 0;
            border-radius: 0;
        }

        .img-card {
            position: relative;
            overflow: hidden;
            border-radius: 0;

            &:hover::before {
                animation: shine 0.4s linear;
            }

            &::before {
                position: absolute;
                top: 0;
                left: -200%;
                z-index: 2;
                display: block;
                content: '';
                width: 50%;
                height: 100%;
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
                transform: skewX(-25deg);
                transition: all 0.75s ease-in-out;
            }

            &::after {
                box-sizing: border-box;
            }

            .card-img-top {
                transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
            }

            .hot {
                padding: 0;
                margin: 0;
                position: absolute;
                width: 50px;
                right: 1px;
                margin-bottom: -40px;
            }
        }

        .card-body {
            padding: 0;
            border-radius: 3px;
            // box-shadow: 0px 1px 1px rgb(151, 144, 144);

            .card-title {
                font-size: 12px;
                display: flex;
                font-weight: 700;
            }

            .card-content {
                font-weight: 600;
                font-size: 1.2rem;
                color: rgb(27, 180, 27);

                &:hover {
                    color: green;
                }
            }

            .card-text {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .end {
                    margin: 10px 10px;
                    font-size: 14px;
                    font-weight: 400;
                }

                .start {
                    .icon {
                        padding: 0 10px;
                        font-size: 20px;
                        color: green;
                    }
                }
            }

            &:hover {
                border-radius: 3px;
                // box-shadow: 1px 1px 2px rgb(143, 126, 126);
            }
        }
    }
}

@keyframes shine {
    from {
        left: -100%;
    }

    to {
        left: 60%;
    }
}

.text-modal {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;

}


//// event home
.home-event-layout {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    // background-color: aquamarine;
    background-image: url(../image/truong.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .layout-event {
        // margin: 0;
        // padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .event-img {
            gap: 40px;
        }

        .card {
            padding: 0;
            margin: 0;
            border-radius: 0;
            border: none;
            height: 100%;

            .card-body {
                font-weight: 700;
                font-family: Arial, Helvetica, sans-serif;

                .card-title {
                    color: #f26f24;
                }

                .card-text {
                    font-size: 16px;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                        color: #f26f24;
                    }
                }
            }
        }
    }

    // button sự kiện
    .btn-event {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bn1 {
        display: inline-block;
        padding: 0.6em 1.7em;
        border: 0.1em solid #ffffff;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        transition: all 0.2s;
        position: relative;
        z-index: 3;
        top: 50px;

        .icon-start {
            color: white;
        }
    }

    .bn1:hover {
        color: #000000;
        background-color: #f26f24;
    }
}
